<h1>Town Trails</h1>

<%= link_to "Create Trail", "/towns/#{@town.id}/trails/new" %>

<% @trails.each do |trail| %>
<p><%= trail.name %></p>
  <p><%= trail.difficulty %></p>
  <p><%= trail.distance %></p>
  <p><%= trail.downhill_only %></p>
<% end %>